{% extends "base_url.html" %}

{% block content %}

<section>
	<div class = 'main_msg'>
		<h2>About Me</h2>
		<p>I love tech. It's something I enjoy learning and tinkering with. Until recently I was an RF engineer and I am currently transitioning to becoming a full time software and UI engineer.
		</p>
		<p>
			As part of this process, I have developed this website from scratch, based on the python microframework <a href="http://flask.pocoo.org/">Flask</a>. This website is hosted on the Google App Engine platform and the  source code is hosted <a href="https://github.com/NullPoint10/dueEast_Dev">here (github)</a>. 
		</p>
		<p>	
			I have also been creating visualizations using the <a href="http://d3js.org/">d3.js</a> library. You can check out some examples on the <a href="{{ url_for('blog_module.blog_main')}}"> blog</a>. 

		</p>

	</div>
</section>	



{% endblock %}